/* .parteUm{
    margin-top: 200px;
        width: 100%;
       
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        background-color: #007bff;
    
    }
    
    .seletor1{
    margin-left:  35%;
    font-size: 32px;
    font-weight: 400;
    }
    
    
    .detal1{
        width: 100px;
        height: 0.1rem;
        background-color: #000;
       
    }
    .detal2{
        width: 100px;
        height: 0.12rem;
        background-color: #000;
        margin-left: 37%;
    
    
    }
    .seletor2{
        margin-top: 2rem;
        margin-left:  20%;
        font-size: 20px;
        font-weight: 200;
    }
    
     */